@using AwqafBlazor.Shared.DTOs
@inject HttpClient Http

@if (fiscalYearList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Total Items: @totalItems</p>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Year</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var year in fiscalYearList.FiscalYears)
            {
                <tr>
                    <td>@year.FiscalYearId</td>
                    <td>@year.YearDescription</td>
                    <td>@year.StartDate.ToShortDateString()</td>
                    <td>@year.EndDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
    <p>Page @currentPage of @totalPages.</p>

    <button class="btn btn-outline-primary" @onclick="PreviousPageClick">&lt; Previous Page</button>
    <button class="btn btn-outline-primary" @onclick="NextPageClick">Next Page &gt;</button>
}

@code {
    FiscalYearListDTO fiscalYearList;

    int currentPage = 1;
    int itemsPerPage = 2;
    int totalItems;
    int totalPages;

    protected override async Task OnInitializedAsync()
    {
        await GetFiscalYearData();
        currentPage = fiscalYearList.CurrentPage;
        totalPages = fiscalYearList.TotalPages;
        totalItems = fiscalYearList.TotalItems;
    }

    protected async Task GetFiscalYearData()
    {
        fiscalYearList = await Http.GetJsonAsync<FiscalYearListDTO>($"api/FiscalYears?page={currentPage}&itemsPerPage={itemsPerPage}");
    }

    protected async Task NextPageClick()
    {
        if (currentPage < totalPages)
        {
            currentPage++;
            await GetFiscalYearData();
            this.StateHasChanged();
        }
    }

    protected async Task PreviousPageClick()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await GetFiscalYearData();
            this.StateHasChanged();
        }
    }
}
